<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>OYAKO</h1>
    <h4>親子の会話を促す、話題レコメンドサービス</h4>
    <br><br>
    <a class="btn btn-success btn-default" href="#about">使ってみる</a>
  </div>
</header>

<!-- About -->
<section class="about" id="about"></section>

<!-- Question -->
<section class="question" id="question">
  <div class="container-fluid">
    <h3 class="text-center">いくつかの質問に答えるだけで、ぴったりの話題を提案します</h3>

    <div class="form-horizontal" role="form">
      <%= form_tag("/welcome", method: "get", :id => "question-form") do %>
      <div class="form-group">
        <%= label_tag(:dad, "Q1: あなたのお父さんの誕生日は？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= date_field_tag(:dad, cookies.signed[:dad] ||= "1950-10-31", class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:mom, "Q2: あなたのお母さんの誕生日は？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= date_field_tag(:mom, cookies.signed[:mom] ||= "1950-12-31", class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:pref_id, "Q3: あなたのご両親のお住まいは？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= select_tag(:pref_id, options_from_collection_for_select(JpPrefecture::Prefecture.all, :code, :name, cookies.signed[:pref_id] ||= "1"), class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:mom, "Q4: あなたのご両親の電話番号は？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= telephone_field_tag(:tel, cookies.signed[:tel] ||= "111", class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:pref_id, "Q5: あなたのご両親の趣味は？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= select_tag(:hobby, options_from_collection_for_select(Hobby.all, :name, :name, cookies.signed[:hobby] ||= "温泉旅行"), class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-6">
          <%= submit_tag("相談してみる", :id => "recommend", class: "btn btn-success btn-default") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
