<section class="intro-header" id="question" style="background-image: url(<%= asset_path "803b339e3fe0b4a16d5cdee2bcf25e9f_s.jpg" %>)">
  <div class="container-fluid">
    <h3 class="text-center">登録情報更新</h3>
    <div class="form-horizontal" role="form">
      <%= form_for(@q, url: '/all_questions', :html => {:method => "post", :id => "question-form"}) do |f| %>
      <div class="form-group">
        <%= f.label(:dad, "お父さんの誕生日", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= f.date_select(:dad, { start_year: 1900, end_year: Time.current.year, include_blank: true, selected: selected_birthday(:dad),
            use_month_numbers: true, date_separator: '/' },  class: "form-control", style: "display: inline-block; width: auto") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:mom, "お母さんの誕生日", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <% default_date = cookies.signed[:mom] ? Date.parse(cookies.signed[:mom]) : nil %>
          <%= f.date_select(:mom, { start_year: 1900, end_year: Time.current.year, include_blank: true, selected: selected_birthday(:mom),
            use_month_numbers: true, date_separator: '/' },  class: "form-control", style: "display: inline-block; width: auto") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:pref_code, "ご両親のお住まい", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= f.collection_select(:pref_code, JpPrefecture::Prefecture.all, :code, :name, {},
         class: "form-control", style: "display: inline-block; width: auto") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:tel, "ご両親の電話番号", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= f.telephone_field(:tel, placeholder: "00-0000-0000", pattern: "^[0-9\-]+$", class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:hobby, "ご両親の趣味", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= f.text_field(:hobby, class: "form-control") %>
          <%= f.text_field(:hobby2, class: "form-control") %>
          <%= f.text_field(:hobby3, class: "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-6">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.submit("更新", :id => "recommend", class: "btn btn-success btn-default") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
