<h1><%= @user.name %>さん、<a href="https://oyaco.herokuapp.com">OYACO</a>からお知らせです。</h1>
<p>
<% @events.each do |event| %>
<% remaining_day = (event.next_date - Date.current).to_i %>
<% if remaining_day == 0 %>
<%= "今日は<b>「#{event.name}」（#{format_date(event.next_date)}）</b>です！".html_safe %>
<% else %>
<%= "<b>「#{event.name}」（#{format_date(event.next_date)}）</b>まで、あと<b>#{remaining_day}日</b>です。".html_safe %>
<% end %>
<%= birthday_comment(event.person) if event.birth? %>
<br>
<% end %>
</p>
<p>
<% @holidays.each do |holiday| %>
<%= "#{format_date(holiday.date)}は<b>「#{holiday.name}」</b>です。".html_safe %>
<%= EventData.find_by_name(holiday.name).try(:comment) %>
<br>
<% end %>
</p>
