<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="light-well">
        <h3 class="page-header text-center">パスワードを忘れましたか？</h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワード再設定のためのメールを送信", class: "btn btn-success btn-block" %>
          </div>
        <% end %>
      </div>
      <br>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
