<section class="intro-header question" id="question" style="background-image: url(<%= asset_path "803b339e3fe0b4a16d5cdee2bcf25e9f_s.jpg" %>)">
  <div class="container">
    <%= form_for(@q, url: wizard_path, html: {class: "form-holizontal", method: :put, id: "question-form"}) do |f| %>
      <div class="post-heading text-center form-group">
        <%= yield f %>
        <div class="btns">
          <% unless wizard_steps.find_index(step) == 0 %>
            <%= link_to "戻る", previous_wizard_path, id: "backword", class: "btn btn-success btn-lg" %>
          <% end %>
            <%#link_to 'スキップ', next_wizard_path, class:"btn btn-success btn-default" %>
          <% unless wizard_steps.find_index(step) == wizard_steps.length-1 %>
            <%= f.submit("次へ", id: "next", class: "btn btn-success btn-lg") %>
          <% else %>
            <%= f.submit("相談する", id: "go-home", class: "btn btn-success btn-lg") %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="progress progress-striped active">
      <% done = wizard_steps.find_index(step)*100/wizard_steps.length %>
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= done %>",
      class="progress-bar progress-bar-success" role="progressbar" style="width: <%= done %>%;">
        <span><%= done %>% 完了</span>
      </div>
    </div>
  </div>
</section>
