<%= render layout: 'form' do |f| %>
  <h2><%= f.label(:hobby, "ご両親にまつわるキーワードは？（趣味やお気に入りなど）", class: "control-label") %></h2>
  <p>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= f.text_field(:hobby, class: "form-control input-lg") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= f.text_field(:hobby2, class: "form-control input-lg") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <%= f.text_field(:hobby3, class: "form-control input-lg") %>
    </div>
  </div>
  </p>
<% end %>
