<%= render layout: 'form' do |f| %>
  <h1><%= f.label(:hobby, "ご両親の趣味は？", class: "control-label") %></h1>
  <p>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= f.text_field(:hobby, class: "form-control") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= f.text_field(:hobby2, class: "form-control") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <%= f.text_field(:hobby3, class: "form-control") %>
    </div>
  </div>
  </p>
<% end %>
