<section class="question container-fluid" id="question">
  <div class="jumbotron">
    <%= form_for(@questionnaire, url: next_wizard_path, method: "put", :html => {:id => "question-form"}) do |f| %>
    <div class="form-group">
      <h1><%= label_tag(:pref_id, "あなたのご両親のお住まいは？", class: "control-label") %></h1>
      <p>
        <%= select_tag(:pref_id, options_from_collection_for_select(JpPrefecture::Prefecture.all, :code, :name, cookies.signed[:pref_id] ||= "1"),
             class: "form-control", style: "display: inline-block; width: auto") %>
      </p>
      <p>
        <%= link_to 'スキップ', next_wizard_path, class:"btn btn-success btn-default" %>
        <%= submit_tag("次の質問", id: "next", class: "btn btn-success btn-default") %>
      </p>
    <% end %>
    </div>
  </div>

  <div class="progress progress-striped active">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
</div>
</section>
