<!-- Top -->
<section class="intro-header" style="background-image: url(<%= asset_path "top.jpg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>OYACO</h1>
          <span class="subheading">親子のコミュニケーションを促す、親孝行サービス</span><br>
          <%= link_to '試してみる', question_path(:dad) ,method: :get, class: "btn btn-lg btn-success" %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="about" id="about">
  <div class="container-fluid feature">
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= asset_path "top_image_02.png" %>" alt="" width="150" height="150" />
        <h3>記念日の登録とメモ</h3>
        <p>
          家族の特別な記念日を登録することができます。写真やメモを記録して、あなただけの親孝行カレンダーを作りましょう。
        </p>
      </div>
      <div class="col-sm-4">
        <img src="<%= asset_path "top_image_01.png" %>" alt="" width="150" height="150"/>
        <h3>事前にお知らせ</h3>
        <p>
          親孝行イベントをメールやブラウザ<small>(※)</small>でお知らせします。もううっかり忘れてしまうことはありません。
          <div class="note">※ 最新のChromeブラウザおよびAndroidスマホ</div>
        </p>
      </div>
      <div class="col-sm-4">
        <img src="<%= asset_path "top_image_03.png" %>" alt="" width="150" height="150" />
        <h3>話題の提供</h3>
        <p>
          親孝行にまつわる話題やニュースを提供します。親との会話や親孝行のヒントが得られるかも？
        </p>
      </div>
    </div>
  </div>
</section>

<section class="try" id="try">
  <%= link_to '試してみる', question_path(:dad) ,method: :get, id: "try", class: "btn btn-success btn-lg" %>
</section>
