<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<div class="container">

<!--タブ-->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">イベント</a></li>
  <li role="presentation"><a href="#tab2" data-toggle="tab">ローカル</a></li>
  <li role="presentation"><a href="#tab3" data-toggle="tab">趣味</a></li>
</ul>
<!-- タブコンテンツ -->
<div id="myTabContent" class="tab-content">
  <!-- イベント -->
  <div class="tab-pane fade in active" id="tab1">
    <div class='timeline'>
      <dl>
        <% m = Month(Date.current) %>
        <% m.upto(m + 12 ) do |m| %>
          <dt><%= "#{m.year}年#{m.number}月" %></dt>
          <% m_topics = @topics.select {|t| m.include?(t[:date])} %>
          <% m_topics.each_with_index do |topic, i| %>
            <dd class="<%= timeline_pos(i) %> clearfix">
              <div class="circ"></div>
              <div class="time"><%= "#{topic[:date].day}日" %></div>
              <div class="events">
                <div class="pull-left">
                  <%= image_tag "s64_f_object_67_0bg.png", class: "events-object img-rounded" %>
                </div>
                <div class="events-body">
                  <h4 class="events-heading"><%= topic[:title] %></h4>
                  <% if topic[:wikipedia].present? %>
                    <p class="wikipedia"><%= topic[:wikipedia] %><%= link_to "(Wikipediaより)", "http://ja.wikipedia.org/wiki/#{topic[:name]}" %></p>
                  <% end %>
                  <p><%= topic[:comment1] %></p>
                  <p><%= topic[:comment2] %></p>
                  <p><%= topic[:comment3] %></p>
                  <% if topic[:message].present? %>
                  <p>こんな言葉を贈ってはどうですか？</p>
                  <p>「<%= topic[:message] %>」</p>
                  <% end %>
                  <% if topic[:item] %>
                  <a href="<%= topic[:item][:url] %>" target="_blank">
                    <img class="gift img-rounded" src="<%= topic[:item][:imageUrl] %>">
                  </a>
                  <% end %>
                </div>
              </div>
            </dd>
          <% end %> <!-- m_topics.each_with_index -->
        <% end %> <!-- m.upto() -->
      </dl>
    </div>
  </div>

  <!-- ローカル -->
  <div class="tab-pane fade" id="tab2">
    <ul class='list-group'>
      <% if @pref_name.present? %>
      <li class='list-group-item'>
        <h4 class='list-group-item-heading'>お天気情報</h4>
        <p><%= @pref_name %>は<%= @message %></p>
      </li>
      <li class='list-group-item'>
        <h4 class='list-group-item-heading'><%= @pref_name %>のニュース</h4>
        <% if @googlenews["items"] %>
          <% @googlenews["items"].first(3).each do |news| %>
            <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
          <% end %>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
  <!-- 趣味 -->
  <div class="tab-pane fade" id="tab3">
    <ul class='list-group'>
      <% @hobbys.each do |hobby| %>
        <li class='list-group-item'>
          <h4 class='list-group-item-heading'><%= hobby[:name] %>のニュース</h4>
          <% if hobby[:news]["items"] %>
            <% hobby[:news]["items"].first(3).each do |news| %>
              <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
