<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<!--タブ-->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">イベント</a></li>
  <li role="presentation"><a href="#tab2" data-toggle="tab">ローカル</a></li>
  <li role="presentation"><a href="#tab3" data-toggle="tab">趣味</a></li>
</ul>
<!-- タブコンテンツ -->
<div id="myTabContent" class="tab-content">
  <!-- イベント -->
  <div class="tab-pane fade in active" id="tab1">
    <ul class='list-group'>
      <% @topics.each do |topic| %>
        <li class='list-group-item'>
          <div class="row">
          <div class="col-xs-9">
            <h4 class="list-group-item-heading"><%= topic[:title] %></h4>
            <p class="list-group-item-text"><%= topic[:comment] %></p>
          </div>
          <div class="col-xs-3">
            <% if topic[:items] %>
              <% topic[:items].first(1).each do |item| %>
                <a href="<%= item['affiliateUrl'] %>" target="_blank">
                  <img class="gift img-rounded" src="<%= item['mediumImageUrls'][0]['imageUrl'] %>">
                </a>
              <% end %>
            <% end %>
          </div>
          </div>
          <% if topic[:message].present? %>
            <p>こんな言葉を贈ってはどうですか？</p>
            <p>「<%= topic[:message] %>」</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- ローカル -->
  <div class="tab-pane fade" id="tab2">
    <ul class='list-group'>
      <% if @pref_name.present? %>
      <li class='list-group-item'>
        <h4 class='list-group-item-heading'>お天気情報</h4>
        <%= @pref_name %>は<%= @message %></p>
      </li>
      <li class='list-group-item'>
        <h4 class='list-group-item-heading'><%= @pref_name %>のニュース</h4>
        <% if @googlenews["items"] %>
          <% @googlenews["items"].first(3).each do |news| %>
            <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
          <% end %>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
  <!-- 趣味 -->
  <div class="tab-pane fade" id="tab3">
    <ul class='list-group'>
      <% @hobbys.each do |hobby| %>
        <li class='list-group-item'>
          <h4 class='list-group-item-heading'><%= hobby[:name] %>のニュース</h4>
          <% if hobby[:news]["items"] %>
            <% hobby[:news]["items"].first(3).each do |news| %>
              <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
