<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<section class="topics">
  <div class="container-fluid">
  <div class="row">
  <div class="timeline col-sm-8">
    <dl>
      <% m = Month(Date.current) %>
      <% m.upto(m + 12 ) do |m| %>
        <dt><%= "#{m.year}年#{m.number}月" %></dt>
        <% m_topics = @topics.select {|t| m.include?(t[:date])} %>
        <% m_topics.each_with_index do |topic, i| %>
          <dd class="<%= timeline_pos(i) %> <%= "#{topic[:type]}" %> clearfix">
            <div class="circ"></div>
            <div class="time"><%= "#{topic[:date].day}日" %></div>

            <div class="events" <%= "id=event#{topic[:id]}" if topic[:id].present? %> >
              <div class="pull-left">
                <% if topic[:image].present? %>
                  <%= image_tag "#{topic[:image]}", class: "events-object img-rounded" %>
                <% else %>
                  <%= image_tag "s64_f_event_13_0bg.png", class: "events-object img-rounded" %>
                <% end %>
              </div>
              <div class="events-body">
                <h4 class="events-heading"><%= topic[:title] %></h4>
                <% if topic[:wikipedia].present? %>
                  <p class="wikipedia"><%= truncate(topic[:wikipedia], length: 100) %>
                    <%= link_to "[Wikipedia]", "http://ja.wikipedia.org/wiki/#{topic[:name]}", target: "_new" %>
                  </p>
                <% end %>
                <p><%= topic[:comment1] %></p>
                <p><%= topic[:comment2] %></p>
                <p><%= topic[:comment3] %></p>
                <% if topic[:message].present? %>
                <p>こんな言葉を贈ってはどうですか？</p>
                <p>「<%= topic[:message] %>」</p>
                <% end %>
                <% if topic[:item] %>
                  <a href="<%= topic[:item][:url] %>" target="_new">
                  <img class="gift img-rounded" src="<%= topic[:item][:imageUrl] %>">
                </a>
                <% end %>
                <% if topic[:event] %>
                  <%= link_to raw('<i class="fa fa-trash fa-lg"></i>'), users_event_path(topic[:event]), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "pull-right bottom-aligned-text" %>
                <% end %>
              </div>
            </div>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  <div class="col-sm-4">

  <% if @pref_name.present? %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title"><%= @pref_name %>情報</h4>
      </div>
      <div class="panel-body">
        <p><%= @pref_name %>は<%= @message %></p>
        <% if @googlenews["items"] %>
          <% @googlenews["items"].first(3).each do |news| %>
            <%= link_to news["title"], news["link"], target: "_new" %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">みんなの親孝行</h4>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <a href="https://twitter.com/intent/tweet?button_hashtag=%E8%A6%AA%E5%AD%9D%E8%A1%8C" class="twitter-hashtag-button" data-size="large" data-url="http://oyaco.herokuapp.com">Tweet #%E8%A6%AA%E5%AD%9D%E8%A1%8C</a>
        </div>
        <a class="twitter-timeline"
          data-widget-id="670199121928523778"
          href="https://twitter.com/TwitterDev"
          height="600"
          data-chrome="noborders noheader nofooter"
        ></a>
      </div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">趣味</h4>
      </div>
      <div class="panel-body">
        <% @hobbys.each do |hobby| %>
          <b><%= hobby[:name] %>のニュース</b>
          <% if hobby[:news]["items"] %>
            <ul>
            <% hobby[:news]["items"].first(3).each do |news| %>
              <li><%= link_to news["title"], news["link"], target: "_new" %></li>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<div id="input-event" class="modal fade">  <!-- Modal本体 -->
  <div class="modal-dialog"> <!-- Modalダイアログ部分 -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>  <!-- closeボタン -->
        <h4 class="modal-title">記念日を追加</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:users, @event] do |f| %>
          <%= f.input :date, as: :date_picker %>
          <%= f.input :name %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
