<style type="text/css">

body {
  background-color: #F5DEB3;
}

</style>
<div class="center hero-unit">
<% @holidays.each do |holiday| %>
  <p class="lead">
    <h1>
    ★<%= holiday.holiday_date.strftime('%Y年%-m月%e日') %>は<%= holiday.holiday_name %>です。★
  </h1>
    <h3>
      <% comment="帰省しましょう。お土産はどうですか" %>
      <% comment="カーネーションと一緒にプレゼントを贈りましょう" if holiday.holiday_name =~ /母/ %>
      <% comment="父の日に贈り物はどうでしょう" if holiday.holiday_name =~ /父/ %>
      <% comment="お墓参りに帰省しましょう" if holiday.holiday_name =~ /春|秋/ %>
      <% comment="おじいさん、おばあさんにプレゼントを贈りましょう" if holiday.holiday_name =~ /敬老/ %>
      <%= comment %>
   </h3>
  </p>
  <table class="table">
    <tbody>
      <% @items = RakutenWebService::Ichiba::Item.search(:keyword => holiday.holiday_name) %>
      <% @items.first(3).each do |item| %>
        <tr>
	  <a href="<%= item['affiliateUrl'] %>" target="_blank"><img src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></a>&nbsp;
		</tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <h3>こんな言葉を贈ってはどうですか？</h3>
  </p>

  <p>
    <h3>
      <% word="あけましておめでとう。今年もよろしくお願いします" %>
      <% word="いつも家事をしてくれてありがとう" if holiday.holiday_name =~ /母/ %>
      <% word="お仕事いつもやってやってくれてありがとう" if holiday.holiday_name =~ /父/ %>
      <% word="ご先祖様ありがとう" if holiday.holiday_name =~ /春|秋/ %>
      <% word="おじいちゃん、おばあちゃん、長生きしてね" if holiday.holiday_name =~ /敬老/ %>
      <%= word %>
   </h3>
  </p>
  
  <HR>
<% end %>


<!-- テスト -->

<p>
<h3><%= @pref_name %>は<%= @message %></h3>
</p>
