<style type="text/css">

body {
  background-color: #F5DEB3;
}

</style>
<div class="center hero-unit">
<p class="lead">
  <h1>
  <% @events.first(1).each do |event| %>
  <% evetDate = event.event_date %>
  <%= evetDate.strftime('%-m月%e日') %>は<%= event.event_name %>です。
  <% end %>
</h1>
  <h1>こんなプレゼントはどうですか？</h1>
</p>
<table class="table">
  <tbody>
    <% @items.first(3).each do |item| %>
      <tr>
        <td><img src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></td>
        <td><a href="<%= item['affiliateUrl'] %>" target="_blank"><h3><%= item.name %></h3></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <h1>こんな言葉を贈ってはどうですか？</h1>
</p>

<p>
  <h1> おじいちゃん、いつも、ありがとう！！！！！！！</h1>
</p>

<br>
<br>
<br>
<br>
<br>
<br>

<a class="btn btn-primary" href="/events" role="button">イベント管理</a>
