<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<div class="container-fluid">

  <% @topics_birthday.each do |topic| %>
  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <h3 class="popover-title"><%= topic[:title] %></h3>
        <div class="popover-content">
          <p><%= topic[:comment] %></p>
          <!-- present items -->
          <table class="table">
            <tbody>
              <tr>
                <% topic[:items].first(3).each do |item| %>
                <td>
                  <a href="<%= item['affiliateUrl'] %>" target="_blank"><img class="img-rounded" src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></a>
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% @holidays.each do |holiday| %>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <h3 class="popover-title"><%= holiday.holiday_date.strftime('%Y年%-m月%e日') %>は<%= holiday.holiday_name %></h3>
        <div class="popover-content">
          <% comment="帰省しましょう。お土産はどうですか" %>
          <% comment="カーネーションと一緒にプレゼントを贈りましょう" if holiday.holiday_name =~ /母/ %>
          <% comment="父の日に贈り物はどうでしょう" if holiday.holiday_name =~ /父/ %>
          <% comment="お墓参りに帰省しましょう" if holiday.holiday_name =~ /春|秋/ %>
          <% comment="おじいさん、おばあさんにプレゼントを贈りましょう" if holiday.holiday_name =~ /敬老/ %>
          <p><%= comment %></p>

          <!-- present items -->
          <table class="table">
            <tbody>
              <tr>
                <% @items = RakutenWebService::Ichiba::Item.search(:keyword => holiday.holiday_name) %>
                <% @items.first(3).each do |item| %>
                <td>
                  <a href="<%= item['affiliateUrl'] %>" target="_blank"><img class="img-rounded" src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></a>
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>

          <!-- message -->
          <p>こんな言葉を贈ってはどうですか？</p>
          <p>
            <% word="あけましておめでとう。今年もよろしくお願いします" %>
            <% word="いつも家事をしてくれてありがとう" if holiday.holiday_name =~ /母/ %>
            <% word="お仕事いつもやってやってくれてありがとう" if holiday.holiday_name =~ /父/ %>
            <% word="ご先祖様ありがとう" if holiday.holiday_name =~ /春|秋/ %>
            <% word="おじいちゃん、おばあちゃん、長生きしてね" if holiday.holiday_name =~ /敬老/ %>
            「<%= word %>」
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p><%= @pref_name %>は<%= @message %></p>
          <p><%= @pref_name %>のニュース</p>
          <% @googlenews["items"].first(3).each do |news| %>
          <p><%= news["title"] %></p>
          <p><%= news["link"] %></p>
          <% end %>
          <!-- <p><%= @googlenews %></p> -->
        </div>
      </div>
    </div>
  </div>

  <%= form_tag("/", method: "get", :id => "gototop-form") do %>
  <div class="form-group">
    <div class="text-center">
      <%= submit_tag("再設定", :id => "gototop", class: "btn btn-success btn-default") %>
    </div>
  </div>
  <% end %>

</div>
