<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<div class="container-fluid">

  <% @topics.each do |topic| %>
  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <h3 class="popover-title"><%= topic[:title] %></h3>
        <div class="popover-content">
          <p><%= topic[:comment] %></p>
          <div class="row">
            <div class="col-xs-1"></div>
            <% topic[:items].first(3).each do |item| %>
              <div class="col-xs-3">
                <a href="<%= item['affiliateUrl'] %>" target="_blank">
                  <img class="img-responsive img-rounded" src="<%= item['mediumImageUrls'][0]['imageUrl'] %>">
                </a>
              </div>
            <% end %>
          </div>

          <% if topic[:message].present? %>
            <p>こんな言葉を贈ってはどうですか？</p>
            <p>「<%= topic[:message] %>」</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p><%= @pref_name %>は<%= @message %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p><%= @pref_name %>のニュース</p>
          <% if @googlenews["items"] %>
            <% @googlenews["items"].first(3).each do |news| %>
              <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @hobbys.each do |hobby| %>
  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p>趣味<%= "（" << hobby[:name] << "）" %>のニュース</p>
          <% if hobby[:news]["items"] %>
            <% hobby[:news]["items"].first(3).each do |news| %>
              <a href="<%= news["link"] %>"><%= news["title"] %><br></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
        <% if @tel.blank? %>
          <div data-toggle="tooltip" data-title='電話番号が設定されていません'>
            <%= link_to('電話する', 'tel:' + @tel, id: 'tel', class: "btn btn-danger disabled") %>
          </div>
        <% elsif smartphone? %>
          <%= link_to('電話する', 'tel:' + @tel, id: 'tel', class: "btn btn-danger") %>
        <% else %>
          <div data-toggle="tooltip" data-title='スマートフォン以外から電話をかけることはできません'>
            <%= link_to('電話する', 'tel:' + @tel, id: 'tel', class: "btn btn-danger disabled") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="text-center">
        <%= link_to('ブラウザ通知を登録する', 'https://pushnate.com/register/20/', class: "btn btn-warning") %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
        <%= link_to('質問をやり直す', {controller: "welcome", action: "clear"}, method: "delete",
          class: "btn btn-info btn-default") %>
      </div>
    </div>
  </div>
</div>
