<div class="center hero-unit">
<p class="lead">
  <% @events.first(1).each do |event| %>
  <% evetDate = event.event_date %>
  <%= evetDate.strftime('%-m月%e日') %>は<%= event.event_name %>です。
  <% end %>
<br>
<br>
</p>

<p>
  <h1>こんなプレゼントはどうですか？</h1>
</p>
<table border=1>
  <tbody>
    <% @items.first(3).each do |item| %>
      <tr>
        <td><img src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></td>
        <td><a href="<%= item['affiliateUrl'] %>" target="_blank"><h3><%= item.name %></h3></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <h1>こんな言葉を贈ってはどうですか？</h1>
</p>

<p>
  <h1> 誕生日おめでとうございます！</h1>
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="/events">イベント管理</a><br>
