<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<div class="container-fluid">

  <% @topics.each do |topic| %>
  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <h3 class="popover-title"><%= topic[:title] %></h3>
        <div class="popover-content">
          <p><%= topic[:comment] %></p>
          <table class="table">
            <tbody>
              <tr>
                <% topic[:items].first(3).each do |item| %>
                <td>
                  <a href="<%= item['affiliateUrl'] %>" target="_blank"><img class="img-rounded" src="<%= item['mediumImageUrls'][0]['imageUrl'] %>"></a>
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <% if topic[:message].present? %>
            <p>こんな言葉を贈ってはどうですか？</p>
            <p>「<%= topic[:message] %>」</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p><%= @pref_name %>は<%= @message %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="popover-message">
    <div class="">
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-content">
          <p><%= @pref_name %>のニュース</p>
          <% @googlenews["items"].first(3).each do |news| %>
          <a href="<%= news[" link"] %>"><%= news["title"] %><br></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= link_to('電話する', 'tel:' + @tel, class: "btn btn-primary text-center") %>
  </div>

  <%= form_tag("/", method: "get", :id => "gototop-form") do %>
  <div class="form-group">
    <div class="text-center">
      <%= submit_tag("再設定", :id => "gototop", class: "btn btn-success btn-default") %>
    </div>
  </div>
  <% end %>
</div>
