<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OYACO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link rel="manifest" href="manifest.json">
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <!--ウィンドウ幅に合わせて可変-->
      <div class="container-fluid">
        <div class="navbar-header">
          <!--スマホ用トグルボタンの設置-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--ロゴ表示の指定-->
          <%= link_to "OYACO", root_path, class: "navbar-brand" %>
        </div>
        <!--スマホ用の画面幅が小さいときの表示を非表示にする-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if request.path == '/welcome' %>
              <% if !(@tel.blank?) && smartphone? %>
                <li><a id='tel' href="tel:<%= @tel %>">電話する</a></li>
              <% end %>
              <li><a href="javascript:void(0)" class="js-push-button">ブラウザ通知を登録する</a></li>
              <li><%= link_to '質問をやり直す', {controller: "welcome", action: "clear"}, method: "delete" %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <p class="navbar-text"><strong><%= current_or_guest_user.email %></strong>さん、こんにちは。</p>
              <li><%= link_to "プロフィール変更", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ユーザー登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer>
    <a href=""><small>Copyright &copy 2015 KahokuHanten All Rights Reserved.</small></a>
  </footer>
</body>
</html>
